<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="{{advertised_address}}/static/favicon.png" />
<link rel="apple-touch-icon" href="{{advertised_address}}/static/favicon.png" />
<link rel="manifest" href="{{advertised_address}}/static/manifest.webmanifest" />
<script>navigator.serviceWorker?.register("{{advertised_address}}/sw.js");</script>
<link rel="stylesheet" href="{{advertised_address}}/static/w3css/4.15/w3.css" />
<script
  src="{{cdn_address}}/jquery/3.6.0/jquery.min.js"
  type="application/javascript"
></script>
<script src="{{advertised_address}}/static/util.js"></script>

<html>
  <head>
    <title>Record - Wellness Tracker</title>
  </head>

  <body>
    <div
      class="w3-container w3-padding-16"
      style="
        max-width: 50em;
        margin-top: 20vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
      "
    >
      <div class="w3-card-4">
        <div class="w3-container w3-blue">
          <h3>
            Hi {{username}},<span
              class="w3-right"
              style="margin-bottom: 1rem; font-size: 0.65em"
              ><a href="#" onclick="logout();">Logout</a></span
            >
          </h3>
        </div>
        <div class="w3-container">
          <p>
            <label class="w3-text-blue"><b>Record</b></label>
            <select
              id="select-item"
              class="w3-select w3-text-blue w3-border"
              style="width: 12em; font-weight: bold; background-color: #ffffff"
            ></select>
            <input type="hidden" name="username" value="{{username}}" />
            <input
              id="input-value"
              class="w3-input w3-border w3-light-grey"
              placeholder="Unit:"
              type="number"
            />
          </p>
          <p>
            <label class="w3-text-blue"><b>Remarks</b></label>
            <input
              id="input-remark"
              class="w3-input w3-border w3-light-grey"
              type="text"
            />
          </p>
          <p id="warning-message" style="color: red"></p>
          <button
            id="button-submit"
            class="w3-button w3-border w3-blue-grey w3-left"
            style="margin-bottom: 1rem"
          >
            Submit
          </button>
          <input
            id="input-view"
            class="w3-button w3-border w3-blue-grey w3-right"
            style="margin-bottom: 1rem"
            type="button"
            onclick="viewSummaryPage();"
            value="View"
          />
        </div>
      </div>
    </div>
  </body>

  <script>
    var availableItems = {};
    // This dict must match a pre-defined list on the server side.

    function getAvailableItems() {
      $.ajax({
        url: "{{advertised_address}}/get-available-items/",
        type: "get",
        success: function (data, status) {
          availableItems = data["data"];
          initSelectOptions("#select-item");
          $("#select-item").change();
        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert("Error:\n" + errorThrown + "\n" + jqXHR.responseText);
        },
      });
    }

    function logout() {
      window.location.replace("{{advertised_address}}/logout/");
    }

    function viewSummaryPage() {
      window.location.href =
        "{{advertised_address}}/summary/?value_type=" + $("#select-item").val();
    }

    $("#button-submit").click(function () {
      $.ajax({
        url: "{{advertised_address}}/submit-data/",
        type: "POST",
        data: {
          value: $("#input-value").val(),
          remark: $("#input-remark").val(),
          value_type: $("#select-item").val(),
        },
        success: function (data, status) {
          viewSummaryPage();
        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert("Error:\n" + errorThrown + "\n" + jqXHR.responseText);
        },
      });
    });
    $("#select-item").on("change", function () {
      $("#input-value").attr(
        "placeholder",
        "Unit: " + availableItems[this.value].unit
      );
    });

    function delay(fn, ms) {
      let timer = 0;
      return function (...args) {
        clearTimeout(timer);
        timer = setTimeout(fn.bind(this, ...args), ms || 0);
      };
    }
    $("#input-value").keyup(
      delay(function (e) {
        const minVal =
          availableItems[$("#select-item").val()]["typical_range"][0];
        const maxVal =
          availableItems[$("#select-item").val()]["typical_range"][1];
        if (
          $("#input-value").val() < minVal ||
          $("#input-value").val() > maxVal
        ) {
          $("#warning-message").html(
            "Warning: the typical range for <b>" +
              availableItems[$("#select-item").val()]["display_name"] +
              "</b> is [" +
              minVal.toString() +
              ", " +
              maxVal.toString() +
              "], but you entered <b>" +
              $("#input-value").val().toString() +
              "</b>. Please check for typos."
          );
        } else {
          $("#warning-message").html("");
        }
      }, 500)
    );
    getAvailableItems();
  </script>
</html>
